.red {
    font-size: 30px;
    font-family: Playfair Display;
    color: blue;
    display: flex;
    justify-content: center;
}

input {
    width: 200px; 
    height: 20px;
}

.gruop {
    display: flex;
    justify-content: center;
    gap: 15px;
}

body {
    background-image: url(https://media.tacdn.com/media/attractions-splice-spp-720x480/09/c3/33/97.jpg);
    background-size: cover;
    width: 100%;
}